<!--post a pet form-->
<h2> Welcome, {{name}}</h2>

<h3>Find your pet a new home</h3>

<form class = "new-pet">
    <label for="animal_name">Pet's name:</label>
    <input class="form-input" type="text" id="animal-name" name="animal-name"/>

    <label for="animal-description">Description of pet:</label>
    <input class="form-input" type="text" id="animal-description" name="animal-description"/>


    <label for="date-created">Date:</label>
    <input class="form-input" type="text" id="date-created" name="date-created"/>

    <label for="adoption_fee">Adoption fee:</label>
    <input class="form-input" type="text" id="adoption-fee" name="adoption-fee"/>

    <label for="user-name">User name:</label>
    <input class="form-input" type="text" id="user-name" name="user-name"/>
</form>
    
    <!--delete animal-->


      </div>
   <div>
        <!--what goes in curly brackets?-->
        <button class="delete-post" data-id="{{}}">DELETE</button>
 
</div>

    <!--javascript post request and event listener-->
    
    <script scr="./public/js/post.js"></script>
    