


<div class = "animals-container">


</div>
    {{#each animals as |animals|}}

    <div>
        <!--p tags-->
        <p id="animal_name">{{animals.name}}</p>
        <p id="animal_description">{{animals.description}}</p>
        <p id="animal_date">{{animals.date_created}}</p>
        <p id="animal_fee">{{animals.adoption_fee}}</p>
        {{#if ../logged_in}}
        <button id="adopt">Adopt Me</button> |
        <button id="comment">Comment</button>
        {{/if}}
    </div>
    {{/each}}

    