<div class = "animals-container">

</div>]
    {{#each animals as |animals|}}

    <div>
        {{animals.name}}
        {{animals.description}}
        {{animals.date_created}}
        {{animals.adoption_fee}}
    </div>