


<div class = "animals-container">


</div>
    {{#each animals as |animals|}}

    <div>
        <!--p tags-->
        <p id="animal_name">Name: {{animals.name}}</p>
        <p id="animal_description">Description: {{animals.description}}</p>
        <p id="animal_date">Date: {{animals.date_created}}</p>
        <p id="animal_fee">Adoption fee: {{animals.adoption_fee}}</p>
    </div>
    {{/each}}

    