<div class = "animals-container">

</div>
    {{#each animals as |animals|}}

    <div>
        <!--p tags-->
        <p id="animal_name">{{animals.name}}</p>
        <p id="animal_description">{{animals.description}}</p>
        <p id="animal_date">{{animals.date_created}}</p>
        <p id="animal_fee">{{animals.adoption_fee}}</p>
        <button id="delete">Delete</button>
        <button id="edit">Edit</button>
    </div>
    {{/each}}