/*:root {
    --primary: #f5e1da;
    --secondary: #f1f1f1;
    --tertiary: #49beb7;
    --quatrinary: #085f63;
}*/

body {
    background-color: cornflowerblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: midnightblue;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*background-color: var(--primary);*/
}

header {
    padding: 50px;
    text-align: center;
    background: var(--tertiary);
}

nav {
    display: flex;
    background-color: var (--quatrinary);

}

